<div class="header">
  <p-menubar styleClass="header__menu-bar" [model]="items">
    <button pButton *ngIf="isLogined" class="p-button-text" label="Log Out" icon="pi pi-globe" (click)="openDialogLogout()"></button>
    <button pButton *ngIf="!isLogined" class="p-button-text" label="Sign In" icon="pi pi-globe" (click)="openDialogLogin()"></button>
  </p-menubar>
</div>
<div class="sidebar">
  <p-sidebar [showCloseIcon]="false" [(visible)]="displaySideBar">
    <div class="sidebar__wrapper">
      <button pButton class="p-button-text p-button-rounded" icon="pi pi-search"
              (click)="hideSideBar()" routerLink="/"></button>
      <button pButton class="p-button-text p-button-rounded" icon="pi pi-bookmark"
              (click)="hideSideBar()" routerLink="/bookmarks"></button>
      <button pButton class="p-button-text p-button-rounded unique-bookmarks" icon="pi pi-bookmark-fill"
              (click)="hideSideBar()" routerLink="/unique-bookmarks"></button>
      <button pButton class="p-button-text p-button-rounded unique-bookmarks" icon="pi pi-book"
              (click)="hideSideBar()" routerLink="/notepad"></button>
      <button pButton class="p-button-text p-button-rounded" icon="pi pi-server"
              (click)="hideSideBar()" routerLink="/server"></button>
      <button pButton class="p-button-text p-button-rounded" icon="pi pi-th-large"
              (click)="hideSideBar()" routerLink="/playing-cards"></button>
    </div>
  </p-sidebar>
</div>
<div class="content">
  <router-outlet></router-outlet>
</div>


<p-dialog styleClass="login_dialog" header="Log In" [(visible)]="displayLoginDialog">
  <div class="login_dialog__wrapper">
    <div class="login_dialog__fields">
      <div class="login_dialog__fields--item margin_bottom">
        <span class="p-float-label">
          <input id="username" type="text" pInputText>
          <label for="username">Username</label>
        </span>
      </div>
      <div class="login_dialog__fields--item">
        <span class="p-float-label">
          <input id="password" type="text" pInputText>
          <label for="password">Password</label>
        </span>
      </div>
    </div>
  </div>
  <ng-template pTemplate="footer">
    <div class="login_dialog--footer">
      <button pButton class="p-button-text" label="Cancel" (click)="openDialogLogin()"></button>
      <button pButton class="p-button-text" label="Sign in" (click)="loginAction()"></button>
    </div>

  </ng-template>
</p-dialog>


<p-dialog styleClass="logout_dialog" header="Log Out" [(visible)]="displayLogoutDialog">
  Are you sure?
  <ng-template pTemplate="footer">
    <div class="logout_dialog--footer">
      <button pButton class="p-button-text" label="Cancel" (click)="openDialogLogout()"></button>
      <button pButton class="p-button-text" label="Log Out" (click)="logoutAction()"></button>
    </div>

  </ng-template>
</p-dialog>
